body.dark-mode {
    background-color: #343a40;
    color: #fff;
  }

  .btn-mode {
    transition: background-color 0.3s ease;
  }

  .btn-mode.light-mode {
    background-color: #f8f9fa;
    color: #343a40;
  }